* {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  text-align:center;
  font-style: normal;
  text-decoration: none;  
  list-style: none;
  outline-style: none;
}

html {
  height: 100%;
  background: #f2eadf url("../Pics/bg.jpg") repeat 0 0;
  cursor: default;
}
/* End browser resets */

h1 {
  font-family:"Goudy Old Style";
  font-weight:bold;
  text-shadow: 3px 3px 2px #FFA500, 2px 2px 2px #FFA500;
  font-size:3.7rem;
  color:transparent;
}

h2 {
  font-family:"Goudy Old Style";
  font-weight:bold;
  text-shadow: 0 0 10px #7F771E;
  font-size:2rem;
}

h3 {
  font-weight:bold;
  text-shadow: 0 0 10px #186518;
  font-family:"gadget";
  font-size:2.1rem;
}

h4 {
  font-size: 1.7rem;
  font-family:"gadget";
}

h5>img {
  display:block;
  padding:6rem;
  margin:auto;
  width:20rem;
}

#gplus {
  display:inline;
  margin:auto;
  width:4rem;
}

#git {	
  display:inline;
  margin:auto;
  width:3.4rem;
}

#me {
  float:none;
  margin:auto;
  width:13rem;
}

nav {
  padding-bottom: 2rem;
  font-weight:bold;
  font-size: 2rem;
  color: transparent;
  text-shadow: 3px 3px 2px #FFA500, 2px 2px 10px #FFA500;
  background-color:rgba(69, 69, 69, 0.2);
}

nav a {
  display: block; 
}

nav a:link, nav a:visited {
  color: transparent;
}

h2 a:link, h2 a:visited {
  color: #186518;
}

h3 a:link, h3 a:visited{
  color:#7F771E;
}
 
nav a:hover, nav a:focus,
h2 a:hover, h2 a:focus,
h3 a:hover, h3 a:focus{
  color: #F5F5DC;
}

.mainText, .aboutText {
  font-family: "Papyrus";
  font-size: 1.3em;
}

.aboutText {
  text-align:center;
  margin: 0 10rem 0 10rem;
}

body{
  color: rgba(255, 255, 255, 0.7);
}

main {
  width: 100%;
  position:relative;
}

main #game{
  padding: 1rem 1rem;
  cursor: url("../Pics/chair.png"), default;
}

section>p {
  font-size: 1.3em;
}

.section1 {
  float:left;
  padding:1em;
  margin-left:2em;
}

.section2 {
  float:right;
  padding:1em;
  margin-left:2em;
}

.gemSection1 {
  float:left;
  padding:1em;
  margin-left:2em;
  margin-right:100em;
}

.classicSection2 {
  float:right;
  padding:1em;
  margin-right:2em;
  margin-left:100em;
}

.gameInfo {
  /*W/o Z-index the links on each respective pages get "covered"*/
  z-index: -1;
  font-family: "Papyrus";
  padding:2rem;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

footer {
  position:absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color:rgba(69, 69, 69, 0.2);
  width:99.9%;
  color:#FFF;
}

.footerScroll {
  position:relative;
}

footer a:visited, footer a:link {
  color:#FFF;
}

canvas {
   margin: 0 auto;
   padding-top:1rem;
}

/*Phone*/
@media only screen and (min-width:50em) and (max-width: 64em){
  img {
    display: none;
  }
  
  .section1{
    margin-left:9rem;
  }
  .section2 {
    overflow:auto;
  }
  
  h4{
    padding:0em 1em 0em 1em;
  }
}

/*Tablet*/
@media only screen and (min-width: 64em) and (max-width:80em){
  main section {
    float:left;
  }

  main>section>article {
  float:right;
  }
  
  .section1{
    margin-left:2em;
    margin-right:2em;
  }
  .section2{
    margin-left:2em;
    margin-right:2em;
  }
  
  h4{
    padding:0em 1em 0em 1em;
  }
  
  h5{
    margin-left:1em;
    margin-right:1em;
  }
  
  form{
    margin-left:1em;
    margin-right:1em;
  }
}